<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    Data dodania: <span th:text="${post.date}"/>
    <h1 th:text="${post.title}"/>
    <p th:utext="${post.text}"/>
    <!--<p th:="${post.text}"/>-->
    <img th:src="@{'/postImageJPG?id='+${id}}"/>
    <p th:utext="${post.postAccessibility}"/>

</div>


    <a href="/myPosts">Powrót</a>
</div>
</body>
</html>
